* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    object-fit: contain;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./bgnatal.jpg');
}

.img-natal-center {
    margin: 1rem 0 3rem auto;
    display: flex;
    justify-content: center;
}

.img-natal-center img {
    width: 100%;
    margin: 0 1rem;
    max-width: 250px;
}

.message-natal-center {
    text-transform: uppercase;
    width: 100%;
    margin: 2rem auto;
    max-width: 600px;
}

.nome h1 {
    font-weight: 600;
    font-family: 'Rubik', sans-serif;
    font-size: 1.7rem;
    margin: 1rem 0;
    text-align: center;
    color: white;
}

#nome-pessoa {
    background: linear-gradient(to left, #FF0A0A 0%, #1AFF12 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.message p {
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
    font-size: 1.5rem;
    color: white;
    text-align: center;
}

@media (max-width: 600px) {
    .message p {
        margin: 0 1rem;
    }
}

@media (max-width: 430px) {
    .nome h1 {
        font-size: 1.4rem;
    }

    .message p {
        font-size: 1.3rem;
        margin: 0 1rem;
    }
}